In [6]:
import numpy as np 
import pandas as pd 
from pandas import Series, DataFrame

In [9]:
dframe = DataFrame({'k1': ['X','X','Y','Y','Z'],
                    'k2': ['alpha','beta','alpha','beta','alpha'],
                    'dataset1':np.random.randn(5),
                    'dataset2':np.random.randn(5)
                   })

In [10]:
dframe

   dataset1  dataset2 k1     k2
0  0.811253 -1.597653  X  alpha
1 -0.105400  0.319952  X   beta
2  1.026558 -0.766023  Y  alpha
3 -0.536120 -1.180450  Y   beta
4  0.032715  1.850153  Z  alpha

In [11]:
group1 = dframe['dataset1'].groupby(dframe['k1'])

In [13]:
 group1.mean()

k1
X     0.352926
Y     0.245219
Z     0.032715
Name: dataset1, dtype: float64

In [14]:
cities = np.array(['NY','LA','LA','NY','NY'])

In [15]:
month = np.array(['JAN','FEB','JAN','FEB','JAN'])

In [17]:
dframe['dataset1'].groupby([cities,month]).mean()

LA  FEB   -0.105400
    JAN    1.026558
NY  FEB   -0.536120
    JAN    0.421984
Name: dataset1, dtype: float64

In [19]:
dframe

   dataset1  dataset2 k1     k2
0  0.811253 -1.597653  X  alpha
1 -0.105400  0.319952  X   beta
2  1.026558 -0.766023  Y  alpha
3 -0.536120 -1.180450  Y   beta
4  0.032715  1.850153  Z  alpha